p
{
  line-height: 1.6;
}

.container
{
  grid-template-rows: 120px auto 100px;
}

.author
{
  font-size: 14px;
  margin-bottom: 20px;
}

.author img
{
  width: 100px;
  margin-right: 10px;
  display: block;
}

.author > div
{
  margin-top: 5px;
  float: left;
}

button
{
  border: none;
  outline: 0;
  display: block;
  padding: 4px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100px;
  font-size: 14px;
  margin-top: 5px;
}

button:hover, a:hover
{
  opacity: 0.7;
}

button::before
{
  clear: both;
}

.gallery
{
  display: grid;
  grid-template-columns: 47.7% 47.7%;
  justify-items: center;
}

.gallery > figure > img
{
  width: 420px;
  height: 260px;
}

.posts-grid
{
  grid-template-columns: 1000px;
  grid-template-rows: auto;
}

.posts-grid > div
{
  width: 1000px;
  height: auto;
  margin-bottom: 25px;
}

.back
{
    margin-top: 10px;
    display: block;
}

@media screen and (min-width: 500px) and (max-width: 1000px)
{
  .posts-grid
  {
    grid-template-columns: 490px;
  }

  .posts-grid > div
  {
    width: 490px;
    margin-bottom: 0;
  }

  .gallery
  {
    grid-template-columns: 100%;
    grid-template-rows: 280px;
  }

  .author .info
  {
    max-width: 380px;
  }
}

@media screen and (max-width: 499px)
{
  .posts-grid
  {
    grid-template-columns: 300px;
  }

  .posts-grid > div
  {
    width: 300px;
    margin-bottom: 0;
  }

  .gallery
  {
    grid-template-columns: 287px;
    grid-template-rows: 160px;
  }

  .gallery > figure > img
  {
    width: 210px;
    height: 130px;
  }

  .author .info
  {
    max-width: 190px;
  }
}
