@import url('https://fonts.googleapis.com/css?family=Merriweather|Raleway&display=swap');
@import url('typography.css');
@import url('header.css');
@import url('footer.css');

.figure
{
  text-align: center;
  font-size: 12px;
  font-style: italic;
}

.time
{
  font-size: 13px;
  color: gray;
}

.container
{
  display: grid;
  grid-template-columns: 1000px;
  grid-template-rows: 120px 700px 100px;
  grid-template-areas:
  "hd"
  "sd"
  "ft";
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
}

.button
{
  position:absolute;
  font-size: 13px;
  right: 20px;
  bottom: 18px;
}

.content
{
  grid-area: sd;
}

.posts-grid
{
  display: grid;
  justify-content: center;
  grid-template-columns: 49% 49%;
  grid-template-rows: 220px 220px 220px;
  grid-gap: 20px;
}

.posts-grid > .card
{
  box-sizing: border-box;
  width: 100%;
  height: 220px;
  border: 3px solid #ececec;
  background: #ffffff;
  padding: 20px;
  position: relative;
}

.posts-grid > .card img
{
  width: 100px;
  float: left;
  margin-right: 10px;
}

.posts-grid > .card p::after
{
  clear: both;
}

.posts-grid h1
{
  margin-top: 10px;
  margin-bottom: 0;
}

.category
{
  font-size: 14px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.world
{
  color: green;
}

.life
{
  color: gray;
}

.love
{
  color: red;
}

.dreams
{
  color: blue;
}

.continue
{
  font-size: 14px;
  color: blue;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.continue:visited
{
  color: gray;
}

@media screen and (min-width: 500px) and (max-width: 1000px)
{
  .container
  {
    display: grid;
    grid-template-columns: 490px;
    grid-template-rows: 150px auto 140px;
    grid-template-areas:
    "hd"
    "sd"
    "ft";
  }

  .header-grid
  {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50px 50px;
    grid-template-areas:
    "subscribe search"
    "title title"
  }

  .subscribe
  {
    grid-area: subscribe;
  }

  .title
  {
    grid-area: title;
  }

  .search
  {
    grid-area: search;
  }

  .posts-grid
  {
    display: grid;
    justify-content: center;
    grid-template-columns: 490px;
    grid-template-rows: 220px 220px 220px 220px 220px 220px;
    grid-gap: 20px;
  }

  .button
  {
    border: 1px solid gray;
  }
}

@media screen and (max-width: 499px)
{
  .container
  {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 120px auto 100px;
    grid-template-areas:
    "hd"
    "sd"
    "ft";
  }

  .header-grid
  {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50px 50px;
    grid-template-areas:
    "subscribe search"
    "title title"
  }

  .subscribe
  {
    grid-area: subscribe;
  }

  .title
  {
    grid-area: title;
  }

  .search
  {
    grid-area: search;
  }

  .posts-grid
  {
    display: grid;
    justify-content: center;
    grid-template-columns: 300px;
    grid-template-rows: 240px 240px 240px 240px 240px 240px;
    grid-gap: 20px;
  }

  .posts-grid > .card
  {
    width: 300px;
    height: 240px;
  }

  .button
  {
    border: 1px solid gray;
  }
}
