@import url('https://fonts.googleapis.com/css?family=Merriweather|Raleway&display=swap');

*
{
  font-family: Raleway, sans-serif;
}

h1
{
  font-size: 28px;
  font-family: Merriweather, serif;
}

p
{
  font-size: 14px;
  line-height: 1.6;
}

.hands
{
  height: 260px;
  width: 450px;
}

.time
{
  font-size: 13px;
  color: gray;
}

.container
{
  display: grid;
  grid-template-columns: 1000px;
  grid-template-rows: 120px 740px 100px;
  grid-template-areas:
  "hd"
  "sd"
  "ft";
  justify-content: center;
  align-items: center;
}

.header
{
  grid-area: hd;
}

.header-grid
{
  display: grid;
  grid-template-columns: 250px 500px 250px;
}

.subscribe
{
  display: flex;
  align-items: center;
}

.title,
.title > a
{
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline;
  font-family: Merriweather, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.search
{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.content
{
  grid-area: sd;
}

.posts-grid
{
  display: grid;
  justify-content: center;
  grid-template-columns: 1000px;
  grid-template-rows: 700px;
  grid-gap: 20px;
}

.posts-grid > div
{
  box-sizing: border-box;
  width: 1000px;
  height: 700px;
  border: 3px solid #ececec;
  background: #ffffff;
  padding: 20px;
  position: relative;
}

.posts-grid h1
{
  margin-top: 10px;
  margin-bottom: 0;
}

.category
{
  font-size: 14px;
  font-weight: bold;
  color: green;
}

.footer
{
  grid-area: ft;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  border-top: 2px solid #ececec;
  color: gray;
  height: 100px;
}

.footer span
{
  margin-right: 15px;
}

.footer img
{
  padding: 2px;
  width: 30px;
}
