@import url('https://fonts.googleapis.com/css?family=Merriweather|Raleway&display=swap');

body
{
  margin: 0;
}

*
{
  font-family: Raleway, sans-serif;
}

h1
{
  font-size: 40px;
  font-family: Merriweather, serif;
}

h2
{
  font-size: 28px;
  font-family: Merriweather, serif;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

h3
{
  font-size: 14px;
}

p
{
  font-size: 14px;
}

.quote
{
  display: block;
  color: gray;
  margin-top: 10px;
}

.quote:before
{
    content: open-quote;
}

.quote:after
{
    content: close-quote;
}

.figure
{
  text-align: center;
  font-size: 12px;
  font-style: italic;
}

.time
{
  font-size: 13px;
  color: gray;
}

.container
{
  display: grid;
  grid-template-columns: 1000px;
  grid-template-rows: 120px 740px 100px;
  grid-template-areas:
  "hd"
  "sd"
  "ft";
  justify-content: center;
  align-items: center;
}

.header
{
  grid-area: hd;
}

.header-grid
{
  display: grid;
  grid-template-columns: 250px 500px 250px;
}

.subscribe
{
  display: flex;
  align-items: center;
}

a:link
{
  text-decoration: none;
}

.title,
.title a
{
  text-decoration: underline;
  font-family: Merriweather, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.search
{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search img
{
  width: 22px;
}

.content
{
  grid-area: sd;
}

.posts-grid
{
  display: grid;
  justify-content: center;
  grid-template-columns: 490px 490px;
  grid-template-rows: 220px 220px 220px;
  grid-gap: 20px;
}

.posts-grid > .card
{
  box-sizing: border-box;
  width: 490px;
  height: 220px;
  border: 3px solid #ececec;
  background: #ffffff;
  padding: 20px;
  position: relative;
}

.posts-grid > .card img
{
  width: 100px;
  float: left;
  margin-right: 10px;
}

.posts-grid > .card p::after
{
  clear: both;
}

.posts-grid h1
{
  margin-top: 10px;
  margin-bottom: 0;
}

.category
{
  font-size: 14px;
  font-weight: bold;
  color: green;
  margin-top: 0;
  margin-bottom: 0;
}

.continue
{
  font-size: 14px;
  color: blue;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.continue:visited
{
  color: gray;
}

.footer
{
  grid-area: ft;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  border-top: 2px solid #ececec;
  color: gray;
  height: 100px;
}

.footer span
{
  margin-right: 15px;
}

.footer img
{
  padding: 2px;
  width: 30px;
}

@media screen and (max-width: 1000px)
{
  .container
  {
    display: grid;
    grid-template-columns: 490px;
    grid-template-rows: 150px auto 140px;
    grid-template-areas:
    "hd"
    "sd"
    "ft";
  }

  .header-grid
  {
    display: grid;
    grid-template-columns: 245px 245px;
    grid-template-rows: 50px 50px;
    grid-template-areas:
    "subscribe search"
    "title title"
  }

  .subscribe
  {
    grid-area: subscribe;
  }

  .title
  {
    grid-area: title;
  }

  .search
  {
    grid-area: search;
  }



  .posts-grid
  {
    display: grid;
    justify-content: center;
    grid-template-columns: 490px;
    grid-template-rows: 220px 220px 220px 220px 220px 220px;
    grid-gap: 20px;
  }
}
