img
{
  padding: 2px;
  width: 30px;
  margin-left: 15px;
}

.container
{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 120px 800px 100px;
  grid-template-areas:
  "hd"
  "sd"
  "ft";
  border: 2px solid white;
}

.container > div
{
  border: 1px solid red;
  /*background: #ffffff;*/
}

.header
{
  grid-area: hd;
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline;
  font-family: serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content
{
  grid-area: sd;
}

.footer
{
  grid-area: ft;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  color: black;
}
